### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [3]:
idex = [0]
Total_Players = pd.DataFrame({'Total Players': purchase_data['SN'].nunique()}, index=idex)
Total_Players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# number of unique items
purchase_data['Item ID'].nunique()

183

In [5]:
# average price
purchase_data['Price'].mean()

3.050987179487176

In [6]:
# Number of Purchases
purchase_data['Price'].count()

780

In [7]:
# Total Revenue
purchase_data['Price'].sum()

2379.7699999999973

In [8]:
a = {'Number of unique items': purchase_data['Item ID'].nunique(), 'Average Price': purchase_data['Price'].mean(), \
    'Number of Purchases': purchase_data['Price'].count(), 'Total Revenue': purchase_data['Price'].sum() }
b = [0]
summary_df = pd.DataFrame(a,b)
summary_df

   Average Price  Number of Purchases  Number of unique items  Total Revenue
0       3.050987                  780                     183        2379.77

In [9]:
summary_df["Average Price"] = summary_df["Average Price"].map("${:.2f}".format)
summary_df["Total Revenue"] = summary_df["Total Revenue"].map("${:,.2f}".format)
summary_df

  Average Price  Number of Purchases  Number of unique items Total Revenue
0         $3.05                  780                     183     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#Percentage of Male Players
print(round(purchase_data['Gender'].value_counts().values[0]/purchase_data['Gender'].value_counts().sum()*100, 2), "%")

83.59 %

In [11]:
# Count of Male Players
purchase_data['Gender'].value_counts().values[0]

652

In [12]:
# Percentage of Female Players
print(round(purchase_data['Gender'].value_counts().values[1]/purchase_data['Gender'].value_counts().sum()*100, 2), "%")

14.49 %

In [13]:
# Count of Female Players
purchase_data['Gender'].value_counts().values[1]

113

In [14]:
# Count of Other Players
purchase_data['Gender'].value_counts().values[2]

15

In [15]:
# Percentage of Other Players
print(round(purchase_data['Gender'].value_counts().values[2]/purchase_data['Gender'].value_counts().sum()*100, 2), "%")

1.92 %

In [16]:
#summary_df2
count = [purchase_data['Gender'].value_counts().values[0],purchase_data['Gender'].value_counts().values[1],purchase_data['Gender'].value_counts().values[2]]
percentages = ([round(purchase_data['Gender'].value_counts().values[0]/purchase_data['Gender'].value_counts().sum()*100, 2),
              round(purchase_data['Gender'].value_counts().values[1]/purchase_data['Gender'].value_counts().sum()*100, 2),
              round(purchase_data['Gender'].value_counts().values[2]/purchase_data['Gender'].value_counts().sum()*100, 2)])
labels2 = ['Male', 'Female', 'Other / Non-Disclosed']
summary_df2 = pd.DataFrame({"Count": count, "Percentages": percentages}, index = labels2)
summary_df2

                       Count  Percentages
Male                     652        83.59
Female                   113        14.49
Other / Non-Disclosed     15         1.92


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
count_percentages = purchase_data.groupby(['Gender']) 
gender_analisys = pd.DataFrame(count_percentages.count())
gender_analisys

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [18]:
gender_f_analisys = purchase_data.loc[ purchase_data['Gender']=='Female']
gender_f_analisys.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [19]:
gender_m_analisys = purchase_data.loc[ purchase_data['Gender']=='Male']
gender_m_analisys.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [20]:
gender_o_analisys = purchase_data.loc[ purchase_data['Gender']=='Other / Non-Disclosed']
gender_o_analisys.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [21]:
round(gender_m_analisys['Price'].mean(), 2)

3.02

In [22]:
round(gender_f_analisys['Price'].mean(), 2)

3.2

In [23]:
round(gender_o_analisys['Price'].mean(), 2)

3.35

In [24]:
male_gender = purchase_data.loc[ purchase_data['Gender']=='Male']
round(male_gender.mean(),2)

Purchase ID    392.52
Age             22.92
Item ID         93.52
Price            3.02
dtype: float64

In [25]:
female_gender = purchase_data.loc[ purchase_data['Gender']=='Female']
round(female_gender.mean(),2)

Purchase ID    379.38
Age             21.35
Item ID         85.48
Price            3.20
dtype: float64

In [26]:
other_gender = purchase_data.loc[ purchase_data['Gender']=='Other / Non-Disclosed']
round(other_gender.mean(),2)

Purchase ID    334.60
Age             24.20
Item ID         80.80
Price            3.35
dtype: float64

In [27]:
male_gender['SN'].count()

652

In [28]:
female_gender['SN'].count()

113

In [29]:
other_gender['SN'].count()

15

In [30]:
round(male_gender['Price'].sum(),2)

1967.64

In [31]:
round(female_gender['Price'].sum(),2)

361.94

In [32]:
round(other_gender['Price'].sum(),2)

50.19

In [33]:
round(male_gender['Price'].sum()/male_gender['SN'].count(),2)

3.02

In [34]:
round(female_gender['Price'].sum()/female_gender['SN'].count(),2)

3.2

In [35]:
round(other_gender['Price'].sum()/other_gender['SN'].count(),2)

3.35

In [36]:
a =[male_gender['SN'].count() ,female_gender['SN'].count() ,other_gender['SN'].count()]
b =[round(gender_m_analisys['Price'].mean(), 2), round(gender_f_analisys['Price'].mean(), 2), round(gender_o_analisys['Price'].mean(), 2) ]
c= [round(male_gender['Price'].sum(),2), round(female_gender['Price'].sum(),2), round(other_gender['Price'].sum(),2)]
d= [round(male_gender['Price'].sum()/male_gender['SN'].count(),2), round(female_gender['Price'].sum()/female_gender['SN'].count(),2),\
    round(other_gender['Price'].sum()/other_gender['SN'].count(),2) ]
labi = ['Male', 'Female', 'Others']
gender_df = pd.DataFrame({'Purchase Count': a, 'Average Purchase Price': b, 'Total Purchase Value': c,\
              'Avg Total Purchase per Person': d}, labi)


gender_df['Average Purchase Price']=gender_df['Average Purchase Price'].map("${:,.2f}".format)
gender_df['Total Purchase Value']=gender_df['Total Purchase Value'].map("${:,.2f}".format)
gender_df


#Avg total purchase/ person - groupby person id

,Average Purchase Price,Avg Total Purchase per Person,Purchase Count,Total Purchase Value
Male,$3.02,3.02,652,"$1,967.64"
Female,$3.20,3.20,113,$361.94
Others,$3.35,3.35,15,$50.19

In [37]:
gender_df.iloc[0].map

<bound method Series.map of Average Purchase Price               $3.02
Avg Total Purchase per Person         3.02
Purchase Count                         652
Total Purchase Value             $1,967.64
Name: Male, dtype: object>

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [38]:
# Establish bins and categorize players using bins

bins1 = [0,10,15,20,25,30,35,40,100] 
labels3= ['<10','10-14','15-19','20-24','25-29','30-34','35-39', '40+']
purchase_data['Age Group'] = purchase_data['Age']
purchase_data['Age Group']= pd.cut(purchase_data['Age Group'], bins= bins1 , labels= labels3)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Calculate the numbers and percentages by age group

In [39]:
purchase_data['Age Group'].value_counts()

20-24    325
15-19    200
25-29     77
10-14     54
30-34     52
35-39     33
<10       32
40+        7
Name: Age Group, dtype: int64

In [40]:
# Count & Percentage: Age Demographics -> 'A'
ac =purchase_data['Age Group'].value_counts().values[0]
ap =round((purchase_data['Age Group'].value_counts().values[0])/(purchase_data['Age Group'].value_counts().values.sum())*100, 2)
ap
ac

325

In [41]:
# Count & Percentage: Age Demographics -> 'B'
bc =purchase_data['Age Group'].value_counts().values[1]
bp= round((purchase_data['Age Group'].value_counts().values[1])/(purchase_data['Age Group'].value_counts().values.sum())*100, 2)
bp
bc

200

In [42]:
# Count & Percentage: Age Demographics -> 'C'
cc =purchase_data['Age Group'].value_counts().values[2]
cp =round((purchase_data['Age Group'].value_counts().values[2])/(purchase_data['Age Group'].value_counts().values.sum())*100, 2)
cp
cc

77

In [43]:
# Count & Percentage: Age Demographics -> 'D'
dc =purchase_data['Age Group'].value_counts().values[3]
dp =round((purchase_data['Age Group'].value_counts().values[3])/(purchase_data['Age Group'].value_counts().values.sum())*100, 2)
dp
dc

54

In [44]:
# Count & Percentage: Age Demographics -> 'E'
ec =purchase_data['Age Group'].value_counts().values[4]
ep =round((purchase_data['Age Group'].value_counts().values[4])/(purchase_data['Age Group'].value_counts().values.sum())*100, 2)
ep
ec

52

In [45]:
# # Count & Percentage: Age Demographics -> 'F'
fc =purchase_data['Age Group'].value_counts().values[5]
fp =round((purchase_data['Age Group'].value_counts().values[5])/(purchase_data['Age Group'].value_counts().values.sum())*100, 2)
fp
fc

33

In [46]:
# Count & Percentage: Age Demographics -> 'G'
gc =purchase_data['Age Group'].value_counts().values[6]
gp = round((purchase_data['Age Group'].value_counts().values[6])/(purchase_data['Age Group'].value_counts().values.sum())*100, 2)
gp
gc

32

In [47]:
# Count & Percentage: Age Demographics -> 'H'
hc =purchase_data['Age Group'].value_counts().values[7]
hp = round((purchase_data['Age Group'].value_counts().values[7])/(purchase_data['Age Group'].value_counts().values.sum())*100, 2)
hp
hc

7

In [48]:
index2= labels3
tc = [ac,bc,cc,dc,ec,fc,gc,hc]
pp = [ap,bp,cp,dp,ep,fp,gp,hp]
summary_df4= pd.DataFrame({'Total Count': tc , 'Percentage of Players': pp}, index2)
summary_df4

       Percentage of Players  Total Count
<10                    41.67          325
10-14                  25.64          200
15-19                   9.87           77
20-24                   6.92           54
25-29                   6.67           52
30-34                   4.23           33
35-39                   4.10           32
40+                     0.90            7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
purchase_data.head()
#purchase_data['Purchase ID'].value_counts()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-19
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,35-39
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [50]:
purchase_by_age = purchase_data.groupby('Age Group')
purchase_by_age.sum()

           Purchase ID   Age  Item ID   Price
Age Group
<10              12477   271     3418  108.96
10-14            22509   754     5095  156.60
15-19            77919  3739    18179  621.56
20-24           125560  7466    29263  981.64
25-29            29824  2201     7231  221.42
30-34            18827  1731     4652  155.71
35-39            12908  1255     3435  112.35
40+               3786   300      576   21.53

In [51]:
purchase_by_age.count()

           Purchase ID   SN  Age  Gender  Item ID  Item Name  Price
Age Group
<10                 32   32   32      32       32         32     32
10-14               54   54   54      54       54         54     54
15-19              200  200  200     200      200        200    200
20-24              325  325  325     325      325        325    325
25-29               77   77   77      77       77         77     77
30-34               52   52   52      52       52         52     52
35-39               33   33   33      33       33         33     33
40+                  7    7    7       7        7          7      7

In [52]:
purchase_count = pd.DataFrame(purchase_by_age.count())
purchase_count.columns
pc = purchase_count[['Price']]
pc = pc.rename(columns = {'Price': "Purchase Count"})
pc
#pcc = pc.rename(columns = {'Price': "Purchase Count"})

           Purchase Count
Age Group
<10                    32
10-14                  54
15-19                 200
20-24                 325
25-29                  77
30-34                  52
35-39                  33
40+                     7

In [53]:
purchase_sum = pd.DataFrame(purchase_by_age.sum())
purchase_sum.columns
ps = purchase_sum[['Price']]
ps = ps.rename(columns={"Price": 'Total Purchase Value'})
ps

           Total Purchase Value
Age Group
<10                      108.96
10-14                    156.60
15-19                    621.56
20-24                    981.64
25-29                    221.42
30-34                    155.71
35-39                    112.35
40+                       21.53

In [67]:
purchasing_analysis = pd.concat([ps, pc], axis = 1)
purchasing_analysis['Average Purchase Price'] = (purchasing_analysis['Total Purchase Value'].values)/\
(purchasing_analysis['Purchase Count'].values)
purchasing_analysis['Total Purchase Value'] =purchasing_analysis['Total Purchase Value'].map("${:,.2f}".format)
purchasing_analysis['Average Purchase Price'] =purchasing_analysis['Average Purchase Price'].map("${:,.2f}".format)
purchasing_analysis

          Total Purchase Value  Purchase Count Average Purchase Price
Age Group
<10                    $108.96              32                  $3.40
10-14                  $156.60              54                  $2.90
15-19                  $621.56             200                  $3.11
20-24                  $981.64             325                  $3.02
25-29                  $221.42              77                  $2.88
30-34                  $155.71              52                  $2.99
35-39                  $112.35              33                  $3.40
40+                     $21.53               7                  $3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame